



<head>

    <link rel="stylesheet" type="text/css" media="screen" href="/css/login.css" />
</head>
<% include ./partials/header %>
<body class="bg-primary">
    <div class="container login">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12" id="left">
                <div class="row">
                    <div class="col-12">
                        <center>
                            <h1 id="logo"><i class="fas fa-pen-fancy"></i></h1>
                        </center>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 d-none d-sm-block" id="Quotes">
                        <center>
                                <% var count=0; quotes.forEach(function(quote) {  %>
                                    <% if(quote.body.length < 150 && count<3){%>
                                        <p><i>“<%=quote.body %>”</i></p><h5>~<%=quote.title %></h5> <br>
                                    <% count++; } %>
                                <% }) %>
                        </center>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-12" id="right">
                <center>
                    <div id="content">
                        <br><br>
                        <form method="post">
                            <div id="login_heading">
                                <h1>Login <i class="fas fa-sign-in-alt"></i></h1>
                            </div>
                            <br><br>
                            <fieldset>   
                                <input type="text" placeholder="Email or Username" name="username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email or Username'" class="theinput" id="emailorun" required>
                                <br><br>
                                <input type="password" placeholder="Password" name="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" class="theinput" required>
                                <br><br><br>
                                <button type="submit">Log-In</button>
                            </fieldset>
                        </form>
                    </div>
                </center>
            </div>
        </div>
    </div>
    
    <% include ./partials/footer %>
    
  </body>
  </html>
