<% include ../partials/header %>
<head>
    <link rel="icon" href="/Images/logo.png">
    <link rel="stylesheet" type="text/css" href="/css/user.css">
  </head>

<div class="container mt-4">
    <div class="row">
      <div class="col-3" style="background: #ECF0F1;" id="left">
        <!--Start left part-->
        <div id="insideleft">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia non nulla maxime optio blanditiis voluptas
          unde, explicabo dicta voluptate autem repudiandae itaque voluptatum provident sit perferendis modi enim quo
          aliquam.
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptates quo, commodi delectus labore quis
          fugiat dolor et architecto odio, placeat explicabo facere harum suscipit cum magnam, nesciunt laborum
          molestias?Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet placeat blanditiis ex quasi. Nobis
          odit eum similique deserunt quia magnam quis porro nulla fugit debitis, repellendus ducimus suscipit, alias
          saepe!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, est officiis. Mollitia ad sit repellat sint
          commodi suscipit animi, iure non debitis eum, repudiandae unde veniam eaque deserunt, odit ipsa!Loremlor
        </div>
        <!--End left part-->
      </div>
      <div class="col-9" id="center">
          <i>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia non nulla maxime optio blanditiis voluptas
                unde, explicabo dicta voluptate autem repudiandae itaque voluptatum provident sit perferendis modi enim quo
                aliquam.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptates quo, commodi delectus labore quis
                fugiat dolor et architecto odio, placeat explicabo facere harum suscipit cum magnam, nesciunt laborum
                molestias?Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet placeat blanditiis ex quasi. Nobis
                odit eum similique deserunt quia magnam quis porro nulla fugit debitis, repellendus ducimus suscipit, alias
                saepe!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, est officiis. Mollitia ad sit repellat sint
                commodi suscipit animi, iure non debitis eum, repudiandae unde veniam eaque deserunt, odit ipsa!Loremlor
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia non nulla maxime optio blanditiis voluptas
          unde, explicabo dicta voluptate autem repudiandae itaque voluptatum provident sit perferendis modi enim quo
          aliquam.
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia non nulla maxime optio blanditiis voluptas
          unde, explicabo dicta voluptate autem repudiandae itaque voluptatum provident sit perferendis modi enim quo
          aliquam.
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptates quo, commodi delectus labore quis
          fugiat dolor et architecto odio, placeat explicabo facere harum suscipit cum magnam, nesciunt laborum
          molestias?Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet placeat blanditiis ex quasi. Nobis
          odit eum similique deserunt quia magnam quis porro nulla fugit debitis, repellendus ducimus suscipit, alias
          saepe!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, est officiis. Mollitia ad sit repellat sint
          commodi suscipit animi, iure non debitis eum, repudiandae unde veniam eaque deserunt, odit ipsa!Loremlor
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptates quo, commodi delectus labore quis
          fugiat dolor et architecto odio, placeat explicabo facere harum suscipit cum magnam, nesciunt laborum
          molestias?Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet placeat blanditiis ex quasi. Nobis
          odit eum similique deserunt quia magnam quis porro nulla fugit debitis, repellendus ducimus suscipit, alias
          saepe!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, est officiis. Mollitia ad sit repellat sint
          commodi suscipit animi, iure non debitis eum, repudiandae unde veniam eaque deserunt, odit ipsa!Loremlor
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia non nulla maxime optio blanditiis voluptas
          unde, explicabo dicta voluptate autem repudiandae itaque voluptatum provident sit perferendis modi enim quo
          aliquam.
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptates quo, commodi delectus labore quis
          fugiat dolor et architecto odio, placeat explicabo facere harum suscipit cum magnam, nesciunt laborum
          molestias?Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet placeat blanditiis ex quasi. Nobis
          odit eum similique deserunt quia magnam quis porro nulla fugit debitis, repellendus ducimus suscipit, alias
          saepe!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, est officiis. Mollitia ad sit repellat sint
          commodi suscipit animi, iure non debitis eum, repudiandae unde veniam eaque deserunt, odit ipsa!Loremlor
            </i>



<% include ../partials/footer %>
